.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .feedback {
    max-width: 594px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 32px;
    }
    .btn {
      margin-top: 40px;
      @media (min-width: 768px) {
        margin-top: 48px;
      }
    }
  }
}