header {
  padding-top: 30px;
  padding-bottom: 30px;
  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.header-logo {
  display: block;
  width: 99px;
  margin-right: auto;
  margin-left: auto;
}