body {
  font: {
    family: 'DM Sans', sans-serif;
    size: 16px;
    weight: 400;
  }
  line-height: 28px;
  color: $black-900;
}
main {
  padding-bottom: 40px;
  @media (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media (min-width: 1024px) {
    padding-top: 40px;
  }
}
.container {
  width: 100%;
  max-width: 1420px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.title {
  margin-bottom: 16px;
  text-align: center;
  color: $orange-100;
  font: {
    weight: 500;
  }
}
.arrow {
  width: 55px;
  height: 55px;
  border: none;
  background-color: $orange-100;
  transition-duration: .25s;
  transition-property: background-color;
  img {
    height: 7px;
  }
  &:hover {
    background-color: rgba($orange-100, .8);
  }
  .arrow-next {
    transform: rotate(90deg);
  }
}
.underline {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: $orange-100;
    transition-duration: .25s;
    transition-property: width;
  }
  &:hover {
    &:after {
      width: 0;
    }
  }
}
.block {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1280px) {
    grid-template-columns: 1fr 582px;
  }
  .img {
    position: relative;
    @media (min-width: 768px) {
      order: 2;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: $orange-200;
    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
        margin-right: 1px;
      }
    }
  }
  .text {
    position: relative;
    padding: 70px 24px 20px;
    background-color: $gray-100;
    @media (min-width: 1024px) {
      padding: 125px 80px 70px 80px;
      order: 1;
    }
    @media (min-width: 1280px) {
      padding: 125px 117px 70px 105px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 30px;
      left: 20px;
      width: 29px;
      height: 23px;
      background-image: url("../images/quotes.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      @media (min-width: 1024px) {
        order: 2;
        top: 70px;
        left: 80px;
      }
      @media (min-width: 1280px) {
        top: 70px;
        left: 105px;
      }
    }
    p {
      &:not(:last-of-type) {
        margin-bottom: 24px;
      }
    }
    a {
      font-weight: 500;
    }
  }
  .name {
    font: {
      size: 17px;
    };
  }
  .block-footer {
    margin-top: 24px;
    @media (min-width: 768px) {
      margin-top: 40px;
    }
    p {
      font-size: 14px;
    }
  }
}
